<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verification Email Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style media="screen">
    :root {
        font-size: 16px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #151515;
    }

    .container{
      margin-top: 40px;
    }

    img{
      background: none;
    }
    height: 5px;{
      text-align: center;
    }
    #step1{
      color: black;
      background-color: #ff7759;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card text-center text-white bg-dark mb-3">
            <div class="card-header">
              Registration Confirmation Email Sent
            </div>
            <div class="card-body">
              <div class="card-deck">
                <div class="card">
                  <div class="card-body" id="step1">
                    <h5 class="card-title">Step 1</h5>
                    <p class="card-text">Check inbox of email you used for registering with us</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Eagerly waiting for you to join us</small>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body" id="step1">
                    <h5 class="card-title">Step 2</h5>
                    <p class="card-text">Click on the link or copy paste in address bar to start verification</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Hang on!! Magic is about to start</small>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body" id="step1">
                    <h5 class="card-title">Step 3</h5>
                    <p class="card-text">Press the button given below to go back to login page and start Quoogling</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">End of your Questions search</small>
                  </div>
                </div>
              </div><br>
              <a href="{% url 'index' %}" class="btn btn-info">Back Login Page</a>
            </div>
            <div class="card-footer text-muted">
              Thank you for registering
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </body>
</html>
