<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
   <div class="form-gap"></div>
    <div class="container">
      <div class="row">
        <p> <br> <br> <br> </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="card card-outline-secondary">
            <div class="card-header">
              <h3 class="mb-0">Reset Password</h3>
            </div>
            <div class="card-body">
              <form class="form" role="form" autocomplete="off">
                <div class="form-group">
                  {% csrf_token %}
                  {{ form }}
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right">Change Password</button>
                  </div>
                  <label for="inputPasswordNew">New Password</label>
                  <input type="password" class="form-control" id="id_new_password1" required="">
                  <span class="form-text small text-muted">
                    The password must be 8-20 characters, and must <em>not</em> contain spaces.
                  </span>
                </div>
                <div class="form-group">
                  <label for="inputPasswordNewVerify">Verify</label>
                  <input type="password" class="form-control" id="id_new_password1" required="">
                  <span class="form-text small text-muted">
                    To confirm, type the new password again.
                  </span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg float-right">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
