{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'userloginapp/main.css' %}" />
        <link rel="stylesheet" href="{% static 'userloginapp/forms.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya:wght@500;800&family=Raleway:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
        <title>Quoogle</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-brand">
                <a href="#">Quoogle</a>
            </div>
            <div class="nav-account">
                {% if user.is_authenticated %}
                <a href="{% url 'userloginapp:logout' %}" class="nav-link">Logout</a>
                {% else %}
                <a href="#" id="loginModalBtn" class="nav-link">Login</a>
                <a href="#" id="registerModalBtn" class="nav-link">Register</a>
                {% endif %}
            </div>
        </nav>

        <div class="hero-content">
            <div class="container">
                <h3>Having trouble on that test paper?</h3>
                <p>Looking for questions perhaps?</p>
                <h1>Just <span>Q</span>uoogle it!</h1>
            </div>
        </div>

        <div class="features">
            <div class="feature feature1">
                We have a large and carefully curated database that makes sure your question papers are always top notch.
            </div>
            <div class="feature feature2">
                Handcrafted tools for ease-of-access when you're crafting your question papers. Make quick, easy and efficient work by exporting to a DOCX, PDF or CSV format.
            </div>
            <div class="feature feature3">
                This isn't just for teachers though! Students are more than welcome to practice for tests
            </div>
        </div>

        <!--forms-->

        <div class="modal">
            <div class="modal-content">
                <span>&times;</span>
                <div class="form-switch">
                    <button class="form-btn active-btn" id="loginSwitch">Login</button>
                    <button class="form-btn" id="regSwitch">Register</button>
                </div>
                <form id="loginForm" action="{% url 'userloginapp:user_login' %}" method="POST">
                    {% csrf_token %}
                    <label for="username">Username*</label>
                    <input type="text" placeholder="Enter your Username..." name="username" id="username" required />
                    <label for="password">Password*</label>
                    <input type="password" placeholder="Password..." name="password" id="password" required />
                    <div class="form-actions">
                        <button class="btn btn-primary" id="loginBtn" type="submit">Login</button>
                        <button class="btn btn-secondary" type="button" id="cancelBtn">Cancel</button>
                        <a href="#">Forgot Password?</a>
                    </div>
                </form>
                <form action="{% url 'userloginapp:register' %}" id="registerForm" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <label for="username">Username*</label>
                    <input type="text" placeholder="Choose a username..." name="username" id="username" required />
                    <label for="email">Email*</label>
                    <input type="email" placeholder="Enter a valid email..." name="email" id="email" required />
                    <div class="inline-inputs">
                        <div class="form-group">
                            <label for="password1">Password*</label>
                            <input type="password" placeholder="Password" name="password1" id="password1" required />
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password*</label>
                            <input type="password" placeholder="Confirm Password" name="password2" id="password2" required />
                        </div>
                    </div>
                    <label for="profile_pic" id="uploadBtn">
                        <input type="file" name="profile_pic" id="profile_pic" />
                        Choose a Profile Picture
                    </label>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <button type="button" id="cancelBtn2" class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="{%static 'userloginapp/index.js' %}"></script>
    </body>
</html>
