{% extends "userloginapp/base.html" %}
{% load static %}
{% block body_block %}
  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
  <div class="jumbotron">


    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}

      {{ user_form.username.label }}
      {{ user_form.username }}<br>
      {{ user_form.email.label }}
      {{ user_form.email }}<br>
      {{ user_form.password.label }}
      {{ user_form.password }}<br>

      {{ profile_form.profile_pic.label }}<br>
      {{ profile_form.profile_pic }}<br>

      <button type="submit" class = "btn btn-primary">Register</button>
    </form>
  </div>
  {% endif %}
{% endblock %}
